openapi: 3.2.0
info:
  title: Geoloods Nearby API
  version: 2.0.0
  description: Gazetteer-only place search and reverse geocoding.
  contact:
    email: support@geoloods.io
    url: https://geoloods.io/docs
servers:
- url: https://api.geoloods.io/v2/
  description: Production API
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: Nearby
  description: Named places within a radius, including hotels/venues when you want them
paths:
  /nearby:
    get:
      tags:
      - Nearby
      operationId: searchNearby
      summary: Named places near coordinates
      description: Named places within a radius, sorted by distance. Use this for hotels and other gazetteer venues, or for “what’s around”. See https://geoloods.io/llms-full.txt.
      parameters:
      - name: lat
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 59.9139
      - name: lng
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 10.7522
      - name: radius_km
        in: query
        required: false
        description: Radius in km (default 10, range 0.1–100).
        schema:
          type: number
          format: double
          example: 50
      responses:
        '200':
          description: Named places in the radius
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  headers:
    X-RateLimit-Reset:
      description: Unix timestamp (seconds) when the current window resets.
      schema:
        type: integer
    X-RateLimit-Remaining:
      description: Requests remaining in the current window.
      schema:
        type: integer
    X-RateLimit-Limit:
      description: Request quota for the current window.
      schema:
        type: integer
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
      required:
      - error
    Location:
      type: object
      description: Named gazetteer place (city, town, village, park, landmark, admin area). Not a street address or venue. Field names match the live search-rs objects.
      additionalProperties: true
      properties:
        Geonameid:
          type: integer
        Name:
          type: string
        Latitude:
          type: number
          format: double
        Longitude:
          type: number
          format: double
        CountryCode:
          type: string
        CountryName:
          type: string
        Timezone:
          type: string
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
      description: Live API key header. Preferred form.
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: Live API key query parameter. Alternative to X-API-Key.
